# macOS
.DS_Store

# Node
node_modules/
dist/
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
venv/
.env

# Logs
*.log

# Models (optional - only if large or will be re-generated)
*.h5
*.save

# VSCode
.vscode/

# Others
*.zip
*.tar.gz
